In [6]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [14]:
character_name='John'
character_age='35'
print("There once was a man named " + character_name + ",")
print("he was " + character_age + ".")
character_name='Mike'
print("He really liked the name " + character_name + ",")
print("but didn't like being " + character_age + ".")

There once was a man named John,
he was 35.
He really liked the name Mike,
but didn't like being 35.

In [16]:
print("Giraffe\nAcademy")

Giraffe
Academy

In [17]:
print("Giraffe\"Academy")

Giraffe"Academy

In [18]:
print("Giraffe\Academy")

Giraffe\Academy

In [21]:
phrase="Giraffe Academy"
print(phrase + " is cool")

Giraffe Academy is cool

In [23]:
phrase="Giraffe Academy"
print(phrase.lower())

giraffe academy

In [24]:
phrase="Giraffe Academy"
print(phrase.upper())

GIRAFFE ACADEMY

In [25]:
phrase="Giraffe Academy"
print(phrase.isupper())

False

In [26]:
phrase="Giraffe Academy"
print(phrase.upper().isupper())

True

In [27]:
phrase="Giraffe Academy"
print(len(phrase))

15

In [28]:
phrase="Giraffe Academy"
print(phrase[0])

G

In [29]:
phrase="Giraffe Academy"
print(phrase.index("G"))

0

In [30]:
phrase="Giraffe Academy"
print(phrase.replace("Giraffe","Elephant"))

Elephant Academy

In [1]:
my_num=-5
print(abs(my_num))

5

In [2]:
print(pow(3,2))

9

In [3]:
print(max(4,8))

8

In [4]:
print(min(4,6))

4

In [7]:
print(round(3.2))

3

In [8]:
from math import *
print(floor(3.7))

3

In [14]:
print(ceil(3.9))

4

In [15]:
print(sqrt(36))

6.0

In [20]:
name=input("Enter your name:")
age=input("Enter your age:")
print("Hello " + name + " ! You are  " + age + " years old")

Enter your name:John
Enter your age:25
Hello John ! You are  25 years old

In [1]:
num1=input("Enter a number:")
num2=input("Enter a number:")
result=int(num1)+int(num2)
print(result)

Enter a number:4
Enter a number:5
9

In [2]:
num1=input("Enter a number:")
num2=input("Enter a number:")
result=float(num1)+float(num2)
print(result)

Enter a number:4.2
Enter a number:3.8
8.0

In [4]:
color=input("Enter a color:")
plural_noun=input("Enter a plural noun:")
celebrity=input("Enter a celebrity:")
print("Roses are " + color + "\n" + (plural_noun + " are blue") + "\n" + ("I love " + celebrity))

Enter a color:red
Enter a plural noun:Microwaves
Enter a celebrity:Emma Watson
Roses are red
Microwaves are blue
I love Emma Watson

In [5]:
friends=["Kevin","Karen","Jim"]
print(friends)

['Kevin', 'Karen', 'Jim']

In [6]:
friends=["Kevin","Karen","Jim"]
print(friends[0])

Kevin

In [7]:
friends=["Kevin","Karen","Jim"]
print(friends[-1])

Jim

In [8]:
friends=["Kevin","Karen","Jim"]
print(friends[1:])

['Karen', 'Jim']

In [9]:
friends=["Kevin","Karen","Jim","Oscar","Toby"]
print(friends[1:3])

['Karen', 'Jim']

In [11]:
friends=["Kevin","Karen","Jim"]
friends[1]="Mike"
print(friends[1])

Mike

In [13]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
friends.append("Creed")
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby', 'Creed']

In [14]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
friends.insert(1, "Kelly")
print(friends)

['Kevin', 'Kelly', 'Karen', 'Jim', 'Oscar', 'Toby']

In [15]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
friends.remove("Jim")
print(friends)

['Kevin', 'Karen', 'Oscar', 'Toby']

In [16]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
friends.clear()
print(friends)

[]

In [17]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
friends.pop()
print(friends)

['Kevin', 'Karen', 'Jim', 'Oscar']

In [18]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
print(friends.index("Kevin"))

0

In [19]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Jim","Oscar","Toby"]
print(friends.count("Jim"))

2

In [20]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
friends.sort()
print(friends)

['Jim', 'Karen', 'Kevin', 'Oscar', 'Toby']

In [21]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
lucky_numbers.reverse()
print(lucky_numbers)

[42, 23, 16, 15, 8, 4]

In [22]:
lucky_numbers=[4, 8, 15, 16, 23, 42]
friends=["Kevin","Karen","Jim","Oscar","Toby"]
friends2=friends.copy()
print(friends2)

['Kevin', 'Karen', 'Jim', 'Oscar', 'Toby']

In [1]:
coordinates=(4,5)
print(coordinates[0])

4

In [2]:
def sayhi():
    print("Hello world")

print("Top")
sayhi()
print("Bottom")

Top
Hello world
Bottom

In [5]:
def say_hi(name):
    print("Hello " + name)
say_hi("Mike")
say_hi("Steve")

Hello Mike
Hello Steve

In [6]:
def say_hi(name,age):
    print("Hello " + name + ",you are " + age + " years old")
say_hi("Mike","70")
say_hi("Steve","15")

Hello Mike,you are 70 years old
Hello Steve,you are 15 years old

In [10]:
def cube(num):
    return num**3
print(cube(3))

27

In [12]:
is_male=True
if is_male :
    print("You are a male")
else:
    print("You are not a male")

You are a male

In [13]:
is_male=False
if is_male :
    print("You are a male")
else:
    print("You are not a male")

You are not a male

In [14]:
is_male=True
is_tall=True
if is_male or is_tall :
    print("You are a male and tall")
else:
    print("You are neither male nor tall")

You are a male and tall

In [15]:
is_male=False
is_tall=False
if is_male or is_tall :
    print("You are a male and tall")
else:
    print("You are neither male nor tall")

You are neither male nor tall

In [1]:
is_male=True
is_tall=True
if is_male and is_tall :
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not a male but you are tall")    
else:
    print("You are either not male nor tall or both")

You are a tall male

In [2]:
is_male=False
is_tall=True
if is_male and is_tall :
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not a male but you are tall")    
else:
    print("You are either not male nor tall or both")

You are not a male but you are tall

In [3]:
is_male=True
is_tall=False
if is_male and is_tall :
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not a male but you are tall")    
else:
    print("You are either not male nor tall or both")

You are a short male

In [4]:
is_male=False
is_tall=False
if is_male and is_tall :
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not a male but you are tall")    
else:
    print("You are either not male nor tall or both")

You are either not male nor tall or both

In [5]:
def max_num(num1,num2,num3):
    if num1 >=num2 and num1>=num3 :
        return num1
    elif num2>=num1 and num2>=num3 :
        return num2
    else:
        return num3
print(max_num(3,4,5))

5

In [6]:
def max_num(num1,num2,num3):
    if num1 >=num2 and num1>=num3 :
        return num1
    elif num2>=num1 and num2>=num3 :
        return num2
    else:
        return num3
print(max_num(3,40,5))

40

In [7]:
def max_num(num1,num2,num3):
    if num1 >=num2 and num1>=num3 :
        return num1
    elif num2>=num1 and num2>=num3 :
        return num2
    else:
        return num3
print(max_num(300,40,5))

300

In [8]:
num1=float(input("Enter first number:"))
op=input("Enter operator:")
num2=float(input("Enter second operator:"))

if op==("+"):
    print(num1+num2)
elif op==("-"):
    print(num1-num2)
elif op==("/"):
    print(num1/num2)
elif op==("*"):
    print(num1*num2)
else:
    print("Invalid operator")

Enter first number:1
Enter operator:+
Enter second operator:2
3.0

In [9]:
num1=float(input("Enter first number:"))
op=input("Enter operator:")
num2=float(input("Enter second operator:"))

if op==("+"):
    print(num1+num2)
elif op==("-"):
    print(num1-num2)
elif op==("/"):
    print(num1/num2)
elif op==("*"):
    print(num1*num2)
else:
    print("Invalid operator")

Enter first number:1
Enter operator:-
Enter second operator:5
-4.0

In [10]:
num1=float(input("Enter first number:"))
op=input("Enter operator:")
num2=float(input("Enter second operator:"))

if op==("+"):
    print(num1+num2)
elif op==("-"):
    print(num1-num2)
elif op==("/"):
    print(num1/num2)
elif op==("*"):
    print(num1*num2)
else:
    print("Invalid operator")

Enter first number:4
Enter operator:/
Enter second operator:2
2.0

In [11]:
num1=float(input("Enter first number:"))
op=input("Enter operator:")
num2=float(input("Enter second operator:"))

if op==("+"):
    print(num1+num2)
elif op==("-"):
    print(num1-num2)
elif op==("/"):
    print(num1/num2)
elif op==("*"):
    print(num1*num2)
else:
    print("Invalid operator")

Enter first number:4
Enter operator:*
Enter second operator:2
8.0

In [12]:
num1=float(input("Enter first number:"))
op=input("Enter operator:")
num2=float(input("Enter second operator:"))

if op==("+"):
    print(num1+num2)
elif op==("-"):
    print(num1-num2)
elif op==("/"):
    print(num1/num2)
elif op==("*"):
    print(num1*num2)
else:
    print("Invalid operator")

Enter first number:5
Enter operator:.
Enter second operator:2
Invalid operator

In [13]:
monthConversions={"Jan": "January","Feb": "February","Mar": "March","Apr": "April","May": "May","Jun": "June","Jul" :"July","Aug": "August","Sep": "September","Oct": "October","Nov": "November","Dec": "December"}


print(monthConversions["Jan"])

January

In [17]:
monthConversions={"Jan": "January","Feb": "February","Mar": "March","Apr": "April","May": "May","Jun": "June","Jul" :"July","Aug": "August","Sep": "September","Oct": "October","Nov": "November","Dec": "December"}


print(monthConversions.get("Luv"))

None

In [18]:
monthConversions={"Jan": "January","Feb": "February","Mar": "March","Apr": "April","May": "May","Jun": "June","Jul" :"July","Aug": "August","Sep": "September","Oct": "October","Nov": "November","Dec": "December"}


print(monthConversions.get("Jan"))

January

In [19]:
i=1
while i<=10:
    print(i)
    i+=1
    
print("Done with the loop")

1
2
3
4
5
6
7
8
9
10
Done with the loop

In [2]:
secret_word="giraffe"
guess=""
guess_count=0
guess_limit=3
out_of_guesses=False

while guess!=secret_word and not(out_of_guesses):
    if guess_count<guess_limit:
        guess=input("Enter guess:")
        guess_count+=1
    else:
        out_of_guesses=True
        
if out_of_guesses:
    print("Out of guesses,YOU LOSE!")
else:
    print("You win!")

Enter guess:kljkl
Enter guess:jh
Enter guess:giraffe
You win!

In [1]:
friends=['Kevin','Jim','Karen']
for friend in friends:
    print(friend)

Kevin
Jim
Karen

In [2]:
for index in range(10):
    print(index)

0
1
2
3
4
5
6
7
8
9

In [3]:
friends=['Kevin','Jim','Karen']
for index in range (len(friends)):
    print(friends[index])

Kevin
Jim
Karen

In [4]:
for index in range(5):
    if index==0:
        print("First iteration")
    else:
        print("Not first iteration")

First iteration
Not first iteration
Not first iteration
Not first iteration
Not first iteration

In [5]:
def raise_to_power(base_num,pow_num):
    result=1
    for index in range(pow_num):
        result=result*base_num
    return result
print(raise_to_power(3,4))

81

In [14]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

print(number_grid[2][1])

8

In [16]:
number_grid=[
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]

for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [2]:
def translate(phrase):
    translation=""
    for letter in phrase:
        if letter in "AEIOUaeiou":
            translation=translation+"g"
        else:
            translation=translation + letter
    return translation

print(translate(input("Enter a phrase:")))

Enter a phrase:To be or not to be
Tg bg gr ngt tg bg

In [4]:
def translate(phrase):
    translation=""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.isupper():
                translation=translation+"G"
            else:
                translation=translation+"g"
        else:
            translation=translation + letter
    return translation

print(translate(input("Enter a phrase:")))

Enter a phrase:On
Gn

In [7]:
try:
    number=int(input("Enter a number:"))
except:
    print("Invalid input")

Enter a number:5

In [8]:
try:
    number=int(input("Enter a number:"))
except:
    print("Invalid input")

Enter a number:lc
Invalid input

In [11]:
try:
    answer=10/0
    number=int(input("Enter a number: "))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError:
    print("Invalid Input")

division by zero